<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Please sign up</h3>
        <form action='/users' method='post'>
          <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control" id="exampleInputEmail1" name='email' type='text' value='<%= @user.email %>' required aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name='password' class="form-control" id="exampleInputPassword1" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="password confirmation">Password confirmation</label>
            <input type="password" name='password_confirmation' class="form-control" id="exampleInputPassword1" placeholder="Password confirmation">
          </div>
          <input class="btn btn-primary" type='submit' value='Sign Up'>
        </form>
    </div>
  </div>
</div>
