body {
  background: url('/img/books.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  font-family: 'Quicksand:300', sans-serif;
}

.navbar {
  padding-bottom: 20px;
  background-color: grey;
  font-size: 25px;
  color: white;
  vertical-align: center;
}

.navbar .info-position {
  padding-top: 20px;
  padding-left: 60px;
}

.navbar .welcome-message {
  text-align: right;
  padding-right: 60px;
}
