<div class="container">
  <div class="row">
    <h1 class='title-links'> Links </h1>
      <ul class='links'>
        <% @links.each do |link| %>
          <li>
            Title: <%= link.title %>
            URL: <%= link.url %>
            Tags: <%= link.tags.map(&:name).join(', ') %>
          </li>
        <% end %>
      </ul>
      <a href="links/new">Add new here</a>
    </div>
</div>
